<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/html">
<head>
 <link href="{{url_for('static', filename='Pokeball.png')}}" rel="icon" type="image/x-icon">
    <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Wybierz pokemona do walki- Pokemon101</title>
        <style>

img {
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    width: 10%;
  }

  to {
    width: 245px;
  }
}

</style>
</head>
<body style="background-color:powderblue;">
<!-- Offcanvas Sidebar -->
<div class="offcanvas offcanvas-start" id="demo">
  <div class="offcanvas-header">
    <h1 class="offcanvas-title">Ustawienia</h1>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
  </div>
  <div class="offcanvas-body">
     <div class="form-check form-switch d-flex justify-content-center align-items-center">
  <input class="form-check-input" type="checkbox" id="mySwitch2" name="vs2" value="yes">
  <label class="form-check-label" for="mySwitch"> Widok karuzeli</label>
</div><br><br>
       <p><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#auth">
  Autorzy
</button></p>
  </div>
</div>



<!-- End Offcanvas Sidebar -->
    <div class="container-fluid mt-3">
<div class="alert alert-success">
    <p class="text-center"><strong >{{message}}</strong></p>
</div>

<form method="post" name="" action="">
    <!-- do sprawdzenia co to robi -->
    <div class="gap-2 d-md-flex justify-content-md-end" >
        <button class="btn btn-primary " type="button" data-bs-toggle="offcanvas" data-bs-target="#demo" style="font-size:12px"><i class="material-icons">settings</i></button>
    </div>
         <div class="form-check form-switch d-flex justify-content-center align-items-center " >
  <input class="form-check-input" type="checkbox" id="mySwitch" name="vs" value="yes" checked>
  <label class="form-check-label" for="mySwitch">vs Gracz</label>
</div>
    <!-- The Modal -->
<div class="modal" id="auth">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Autorzy</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
  <ul class="list-group">
    <li class="list-group-item"><b>Pomysły</b></li>
    <li class="list-group-item">Mateusz J</li>
    <li class="list-group-item">Sławek J</li>
  </ul><br>
            <ul class="list-group">
    <li class="list-group-item"><b>Pomysły rozwoju gry</b></li>
    <li class="list-group-item">Mateusz J</li>
  </ul><br>
                                <ul class="list-group">
    <li class="list-group-item"><b>Lista i zdjęcia Pokemonów</b></li>
    <li class="list-group-item">Mateusz J </li>
  </ul><br>
                      <ul class="list-group">
    <li class="list-group-item"><b>Programowanie</b></li>
    <li class="list-group-item">Sławek J </li>
  </ul><br>
                                <ul class="list-group">
    <li class="list-group-item"><b>Testowanie</b></li>
    <li class="list-group-item">Mateusz J </li>
  </ul>
      </div>
    </div>
  </div>
</div>

       <!-- Part 1 -->
    <div id="section1" style="display:none" >
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner ">
          {%for pk, pv in pokemons.items()%}
  {% if loop.index0 == 0  %}
       <div class="carousel-item active">
            <div class="d-flex justify-content-center">
       <div class="card" style="width:500px">
        <div class="card-header">
    <img src="static/{{pv['img']}}" style="{{style}}" class="rounded float-start shadow-sm ">
  <div class="form-check">
     <input class="form-check-input m-1" type="checkbox" id="{{pk}}" name="chose_pokemon" value="{{pk}}">
    <label class="form-check-label text-center text-uppercase"><strong>{{pk}}</strong></label></div>
          <ul class="list-group p-3">
        <li class="list-group-item"><i class="material-icons" style="font-size:32px;color:red">whatshot</i> {{pv["hp"]}}</li>
              <li class="list-group-item"><i class="material-icons" style="font-size:32px;color:red">trending_down</i>{{pv["atak1"]}}</li>
         <li class="list-group-item"><i class="material-icons" style="font-size:32px;color:red">trending_down</i>{{pv["atak2"]}}</li>
              </ul>
</div></div></div>
    </div>
         {% else %}
     <div class="carousel-item">
         <div class="d-flex justify-content-center">
      <div class="card" style="width:500px">
        <div class="card-header">
    <img src="static/{{pv['img']}}" style="{{style}}" class="rounded float-start shadow-sm ">
  <div class="form-check m-1">
     <input class="form-check-input m-1" type="checkbox" id="{{pk}}" name="chose_pokemon" value="{{pk}}">
    <label class="form-check-label text-center text-uppercase"><strong>{{pk}}</strong></label></div>
          <ul class="list-group p-3">
        <li class="list-group-item"><i class="material-icons" style="font-size:32px;color:red">whatshot</i> {{pv["hp"]}}</li>
              <li class="list-group-item"><i class="material-icons" style="font-size:32px;color:red">trending_down</i>{{pv["atak1"]}}</li>
         <li class="list-group-item"><i class="material-icons" style="font-size:32px;color:red">trending_down</i>{{pv["atak2"]}}</li>
              </ul>
</div></div></div>
    </div>
      {% endif %}
          {% endfor %}
  </div>
   <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  </div> </div>

           <!-- Part 2 -->
      <div id="section2" style="display:inline" >
        <div class="row justify-content-center">
        <div class="col-1">
        </div>
        <div class="col-10">

{%for pk, pv in pokemons.items()%}
      <div class="card m-1" style="display: inline-block; width:270px">
        <div class="card-header">
    <img src="static/{{pv['img']}}" style="{{style}}" class="rounded float-start shadow-sm ">
  <div class="form-check">
     <input class="form-check-input m-1" type="checkbox" id="{{pk}}" name="chose_pokemon" value="{{pk}}">
    <label class="form-check-label text-center text-uppercase"><strong>{{pk}}</strong></label></div>
        <ul class="list-group p-3">
        <li class="list-group-item"><i class="material-icons" style="font-size:32px;color:red">whatshot</i> {{pv["hp"]}}</li>
        <li class="list-group-item"><i class="material-icons" style="font-size:32px;color:red">whatshot</i> {{pv['attack_1']}}</li>
        <li class="list-group-item"><i class="material-icons" style="font-size:32px;color:red">trending_down</i> {{pv['attack_1']}}</li>
        </ul>

</div></div>

    {% endfor %}
{{pv}}

</div>
</div>
 </div>
      <!-- Przycisk na dole -->

    <div class="row fixed-bottom"><input type="submit" class="btn btn-outline-primary" value="Wybierz" name="" /></div>
</form>
        <script>

var nie_mam_pomyslu = document.getElementById("mySwitch2").addEventListener("click",nM1,true);
function nM1() {
    if ( document.getElementById("mySwitch2").checked == true) {
   document.getElementById("section2").style.display = "none";
            document.getElementById("section1").style.display = "inline";
        console.log("unchecked")}
        else {
          document.getElementById("section2").style.display = "inline";
            document.getElementById("section1").style.display = "none";


    console.log("checked")
  }

}
</script>
 </div>
</body>
</html>

